- @videos.each do |video|
  %li.bottom__items__item
    = link_to video do
      .bottom__items__item__video
        = image_tag video.image_url, class: 'bottom__items__item__video'
      .bottom__items__item__title
        = video.title
      .bottom__items__item__user-name
        = video.user.nickname
      .bottom__items__item__detail
        .bottom__items__item__detail__view-count
          10,000回視聴
        .bottom__items__item__detail__time
          一年前
