.top
  .top__left
    .top__left__guide-button
      = icon('fas', 'bars')
    .top__left__app-name
      teratube
    .top__left__from
      JP
  .top__center
    %input.top__center__search-input{type: 'text', placeholder: '検索', value: '', nema: 'search'}
    .top__center__search-button
      = icon('fas', 'search')
  .top__right
    .top__right__log-in
      ログイン
    .top__right__sign-in
      新規登録
.bottom
  .bottom__recommend
    あなたにおすすめ
  %ul.bottom__items
    %li.bottom__items__item
      .bottom__items__item__video
      .bottom__items__item__title
        画像名
      .bottom__items__item__user-name
        テラ
      .bottom__items__item__detail
        .bottom__items__item__detail__view-count
          １００万回視聴
        .bottom__items__item__detail__time
          1年前
    %li.bottom__items__item
      .bottom__items__item__video
      .bottom__items__item__title
        画像名
      .bottom__items__item__user-name
        テラ
      .bottom__items__item__detail
        .bottom__items__item__detail__view-count
          １００万回視聴
        .bottom__items__item__detail__time
          1年前
    %li.bottom__items__item
      .bottom__items__item__video
      .bottom__items__item__title
        画像名
      .bottom__items__item__user-name
        テラ
      .bottom__items__item__detail
        .bottom__items__item__detail__view-count
          １００万回視聴
        .bottom__items__item__detail__time
          1年前
    %li.bottom__items__item
      .bottom__items__item__video
      .bottom__items__item__title
        画像名
      .bottom__items__item__user-name
        テラ
      .bottom__items__item__detail
        .bottom__items__item__detail__view-count
          １００万回視聴
        .bottom__items__item__detail__time
          1年前
    %li.bottom__items__item
      .bottom__items__item__video
      .bottom__items__item__title
        画像名
      .bottom__items__item__user-name
        テラ
      .bottom__items__item__detail
        .bottom__items__item__detail__view-count
          １００万回視聴
        .bottom__items__item__detail__time
          1年前
    %li.bottom__items__item
      .bottom__items__item__video
      .bottom__items__item__title
        画像名
      .bottom__items__item__user-name
        テラ
      .bottom__items__item__detail
        .bottom__items__item__detail__view-count
          １００万回視聴
        .bottom__items__item__detail__time
          1年前
    %li.bottom__items__item
      .bottom__items__item__video
      .bottom__items__item__title
        画像名
      .bottom__items__item__user-name
        テラ
      .bottom__items__item__detail
        .bottom__items__item__detail__view-count
          １００万回視聴
        .bottom__items__item__detail__time
          1年前
    %li.bottom__items__item
      .bottom__items__item__video
      .bottom__items__item__title
        画像名
      .bottom__items__item__user-name
        テラ
      .bottom__items__item__detail
        .bottom__items__item__detail__view-count
          １００万回視聴
        .bottom__items__item__detail__time
          1年前