= render "header"
.user-uploaded
  .user-uploaded__video
    = video_tag 'hello teratube.mp4', autoplay: true, loop: true, muted: true, controls: true, preload: true, class: 'user-uploaded__video'
  .user-uploaded__title
    = @video.title
  .user-uploaded__detail
    .user-uploaded__detail__view-count
      10,000回視聴
    .user-uploaded__detail__time
      一年前
  .user-uploaded__user-name
    = @video.user.nickname